body * {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: rgb(236, 238, 241);
}

header {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  height: 60px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
}

.previous-user-container {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.previous-user-container p {
  color: rgb(80, 80, 80);
  font-size: 12px;
  line-height: 18px;
}

.previous-user-container a {
  text-decoration: none;
  color: rgb(0, 119, 197);
  font-size: 12px;
}

.sign-in-button {
  padding: 0 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 119, 197);
  font-size: 13.5px;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 34px;
  margin-left: 10px;
}

.sign-in-button > svg {
  margin-right: 5px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.logo-container a {
  background-image: url(images/intuit.png);
  width: 118px;
  height: 36px;
  cursor: pointer;
}

.other-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.other-products-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-products-icon {
  margin-right: 4px;
  height: 24px;
}

.other-products-icon img {
  width: 23px;
  height: 23px;
}

.other-products-text {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

#turbotax {
  padding-bottom: 5px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-content {
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  width: 380px;
  height: 736px;
  padding: 30px;
  box-sizing: border-box;
}






.privacy-button {
  position: fixed;
  bottom: 0;
  right: 5vw;
  padding: 10px;
  background-color: rgb(107, 108, 114);
  color: white;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: none;
}
